.about-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Changed to flex-start */
  padding: 20px;
}

.main-content {
  display: flex;
  align-items: flex-start; /* Changed to flex-start */
  margin-bottom: 20px;
}

.image-container {
  flex-shrink: 0;
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 40px;
}

.round-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.text-content {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-top: 40px;
  text-align: left;
  gap: 6px;
  line-height: 1.5;
}

.title {
  margin: 0;
  font-size: 26px;
  color: #009aa3;
  font-family: Arial, Helvetica, sans-serif;
}

.subtitle {
  margin: 0;
  font-size: 22px;
}

.description {
  font-size: 18px;
  margin: 0;
  width: 90%;
  /* Add these properties to control the height and line count */
  max-height: 250px; /* Adjust this value based on font size and desired line count */
  min-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(37, 37, 37);
  gap: 6px;
}

.read-more-button {
  padding: 10px 20px;
  text-align: start;
  font-size: 14px;
  font-weight: bold;
  background-color: #f3ef0b;
  color: rgb(0, 0, 0);
  border: none;
  width: 17%;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 3px 16px 16px rgba(5, 5, 5, 0.2);
}

.logo {
  width: 50px;
  height: 60px;
  margin-bottom: 10px;
  background-color: transparent;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .text-content {
    text-align: center;
    margin-top: 20px;
  }
}

@media (min-width: 769px) {
  .main-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .image-container {
    margin-right: 40px;
  }

  .text-content {
    text-align: left;
  }
}

// StatisticsSection.scss
.statistics-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;

  @media (max-width: 768px) {
    flex-direction: column; // Stack boxes vertically on smaller screens
    gap: 20px;
    align-items: center; // Center the boxes
  }
}

.statistics-box {
  text-align: center;
  padding: 15px;
  box-shadow: 0 8px 16px #bfd6df;
  border-radius: 20px;
  width: 23%;
  background-color: #fff;
  transition: transform 0.3s ease;
  margin-bottom: 10px;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px #bfd6df;
  }

  .statistics-counter {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }

  .statistics-description {
    margin-top: 10px;
    font-size: 18px;
    color: #000000;
  }
  @media (max-width: 768px) {
    width: 80%; // Make boxes take up more width on smaller screens
  }
}
//Navbar
.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.354); // Black transparent background
  backdrop-filter: blur(10px); // Apply blur effect
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); // Optional: Add a subtle border
  z-index: 1000; // Ensure it’s above other content
  padding: 0 20px; // Adjust padding as needed

  .logo {
    width: 100px; // Adjust size as needed
    height: auto;
  }

  .navbar-nav {
    .nav-link {
      font-size: 1.1rem; // Increase font size
      color: white; // Adjust text color
    }
  }
}

//Banner
.banner-section {
  position: relative;
  text-align: center;
  color: white;

  .banner-image {
    width: 100%;
    height: auto;
    display: block;
  }

  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); // Optional: Add text shadow for better readability
  }
}

.contact-us-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: rgb(43, 39, 39);
  padding: 0 50px;
  position: relative; /* To allow absolute positioning of the title */
}
.grayscale-image {
  filter: grayscale(100%);
}
/* Title style */
.contact-title {
  position: absolute;
  top: 20px;
  left: 100px; /* Increased left position */
  padding: 10px;
  color: #7bc6d7;
  font-size: 20px;
}

/* Form container */
.contact-form-container {
  background-color: rgba(126, 198, 215, 0.7);
  padding: 50px;
  border-radius: 15px;
  max-width: 600px;
  width: 50%;
}

/* Form label styles */
.contact-form label {
  text-align: left;
  color: white;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Form input and textarea styles */
.contact-form input,
.contact-form textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}

/* Button styles */
.contact-form button {
  float: left;
  padding: 10px 20px;
  text-align: start;
  font-size: 14px;
  font-weight: bold;
  background-color: #f3ef0b;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #ff6f61;
}
.boxes-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 60%;
}

.box {
  background-color: rgba(126, 198, 215, 0.7);
  padding: 20px;
  width: 70%;
  text-align: start;
  display: flex; /* Make the box a flex container */
  flex-direction: column; /* Arrange content vertically */
  align-items: flex-start;
  border-radius: 15px;
}

.box h3 {
  color: white;
  align-items: first baseline;
  margin-bottom: 20px;
}
.box p {
  align-items: center;
}
.logo {
  width: 50px;
  height: 60px;
  margin-bottom: 10px;
  background-color: transparent;
}
.logo-content {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  width: 100%;
}

.logo {
  margin-left: 10px;
  margin-right: 20px; /* Adjust margin as needed */
}
.flex-row {
  display: flex;
  justify-content: space-between; /* Distribute space evenly */
  width: 75%; /* Ensure the container takes full width */
  gap: 15px;
}
.half-width {
  width: 60%; /* Set width to half of the first box */
}
