.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Changed to flex-start */
  padding: 20px;
}

.main-content {
  display: flex;
  align-items: flex-start; /* Changed to flex-start */
  margin-bottom: 20px;
}

.image-container {
  flex-shrink: 0;
  margin-top: 60px;
  margin-left: 100px;
  margin-right: 40px;
}

.round-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.text-content {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-top: 40px;
  text-align: left;
  gap: 6px;
  line-height: 1.5;
}

.title {
  margin: 0;
  font-size: 26px;
  color: #009aa3;
  font-family: Arial, Helvetica, sans-serif;
}

.subtitle {
  margin: 0;
  font-size: 22px;
}

.description {
  font-size: 18px;
  margin: 0;
  width: 90%;
  /* Add these properties to control the height and line count */
  max-height: 250px; /* Adjust this value based on font size and desired line count */
  min-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(37, 37, 37);
  gap: 6px;
}

.read-more-button {
  padding: 10px 20px;
  text-align: start;
  font-size: 14px;
  font-weight: bold;
  background-color: #f3ef0b;
  color: rgb(0, 0, 0);
  border: none;
  width: 17%;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 3px 16px 16px rgba(5, 5, 5, 0.2);
}

.logo {
  width: 50px;
  height: 60px;
  margin-bottom: 10px;
  background-color: transparent;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .text-content {
    text-align: center;
    margin-top: 20px;
  }
}

@media (min-width: 769px) {
  .main-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .image-container {
    margin-right: 40px;
  }

  .text-content {
    text-align: left;
  }
}

// StatisticsSection.scss
.statistics-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;

  @media (max-width: 768px) {
    flex-direction: column; // Stack boxes vertically on smaller screens
    gap: 20px;
    align-items: center; // Center the boxes
  }
}

.statistics-box {
  text-align: center;
  padding: 15px;
  box-shadow: 0 8px 16px #bfd6df;
  border-radius: 20px;
  width: 23%;
  background-color: #fff;
  transition: transform 0.3s ease;
  margin-bottom: 10px;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px #bfd6df;
  }

  .statistics-counter {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }

  .statistics-description {
    margin-top: 10px;
    font-size: 18px;
    color: #000000;
  }
  @media (max-width: 768px) {
    width: 80%; // Make boxes take up more width on smaller screens
  }
}
